
body{
    background-color: rgb(25, 0, 248);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
}
button{
background-color: aqua;
margin-left: 9px;
border-radius: 100px;
padding: 9px;

}
header{
    background-color: rgb(238, 255, 0);
    color:#200418;
    text-align: center;
    padding: 15px;
    border: 8px;
}
section {
    background-color: rgb(206, 201, 201);
    padding: 15px;
    border-radius; 5px;
    box-shadow: 2px 2px 10px rgba (0, 0, 0 0.1);
}
 a {
    color: rgb(0, 0, 255);
    text-decoration: blackletter;
 }

 a:hover {
    text-decoration: underline;

    
 }